.e-47506506
{
	display: flex;
	width: 100%;
}

.e-47506506 > .tree
{
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: var(--ot-spacing-x) 0;
}

/* Section */

.e-47506506 .section
{
	display: flex;
	flex-direction: column;
	cursor: pointer;
	transition: background 0.1s ease;
}

.e-47506506 .section:hover
{
	background: var(--ot-bg-3);
}

.e-47506506 .section.active
{
	background: var(--ot-brand-opacity);
}

/* Row */

.e-47506506 .section > .row
{
	display: flex;
	align-items: center;
	gap: var(--ot-spacing-s);
	padding: 5px var(--ot-spacing-m);
}

.e-47506506 .section > .row > .icon
{
	font-size: 16px;
	color: var(--ot-text-2);
}

.e-47506506 .section.active > .row > .icon
{
	color: var(--ot-brand);
}

/* Info */

.e-47506506 .section > .row > .info
{
	display: flex;
	flex-direction: column;
	gap: 1px;
	flex: 1;
	min-width: 0;
}

.e-47506506 .section > .row > .info > .name
{
	font-size: 12px;
	color: var(--ot-text-1);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.e-47506506 .section.active > .row > .info > .name
{
	color: var(--ot-brand);
	font-weight: 500;
}

.e-47506506 .section > .row > .info > .detail
{
	font-size: 10px;
	color: var(--ot-text-2);
	opacity: 0.5;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* Actions */

.e-47506506 .section > .row > .actions
{
	display: flex;
	gap: 1px;
	margin-left: auto;
	opacity: 0;
	transition: opacity 0.15s ease;
}

.e-47506506 .section:hover > .row > .actions
{
	opacity: 1;
}

.e-47506506 .section > .row > .actions > i
{
	font-size: 16px;
	color: var(--ot-text-2);
	cursor: pointer;
	border-radius: var(--ot-radius-s);
	transition: color 0.15s ease;
}

.e-47506506 .section > .row > .actions > i:hover
{
	color: var(--ot-text-1);
}

.e-47506506 .section > .row > .actions > i.delete:hover
{
	color: rgb(239, 68, 68);
}

/* Create */

.e-47506506 > .tree > .create
{
	display: flex;
	align-items: center;
	gap: var(--ot-spacing-s);
	padding: 10px var(--ot-spacing-m);
	cursor: pointer;
	border-top: 1px solid var(--ot-bg-2-border);
	border-bottom: 1px solid var(--ot-bg-2-border);
}

.e-47506506 > .tree > .create:hover
{
	background: var(--ot-bg-3);
}

.e-47506506 > .tree > .create > i
{
	font-size: 16px;
	color: var(--ot-text-2);
}

.e-47506506 > .tree > .create > span
{
	font-size: 12px;
	font-weight: 500;
	color: var(--ot-text-2);
}

/* Empty */

.e-47506506 > .tree > .empty
{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: var(--ot-spacing-l);
}

.e-47506506 > .tree > .empty > span
{
	font-size: 12px;
	color: var(--ot-text-2);
}
