.e-69e7f2fd
{
	display: grid;
	width: 100%;
	height: 100%;
}

.e-69e7f2fd > .holder
{
	display: grid;
	grid-template-rows: auto auto 1fr auto;
	gap: 12px;
	padding: 12px;
	overflow-y: auto;
}

.e-69e7f2fd > .holder > .fields
{
	display: grid;
	gap: 12px;
	align-content: start;
}

.e-69e7f2fd > .holder > .fields > .field
{
	display: grid;
	gap: 6px;
}

.e-69e7f2fd > .holder > .fields > .field > .label + .description
{
	margin-top: -4px;
}

.e-69e7f2fd > .holder > .fields > .field > .label
{
	font-size: 11px;
	font-weight: 700;
	color: var(--ot-text-2);
}

.e-69e7f2fd > .holder > .fields > .field > .description
{
	font-size: 11px;
	color: var(--ot-text-2);
}

.e-69e7f2fd > .holder > .section
{
	display: grid;
	gap: 12px;
	padding-top: 12px;
	border-top: 1px solid var(--ot-bg-2-border);
}

.e-69e7f2fd > .holder > .section > .title
{
	font-size: 11px;
	font-weight: 700;
	color: var(--ot-text-2);
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

.e-69e7f2fd > .holder > .section > .fields
{
	display: grid;
	gap: 12px;
}

.e-69e7f2fd > .holder > .section > .fields > .field
{
	display: grid;
	gap: 6px;
}

.e-69e7f2fd > .holder > .section > .fields > .field > .label
{
	font-size: 11px;
	font-weight: 700;
	color: var(--ot-text-2);
}

.e-69e7f2fd > .holder > .section > .fields > .field > .label + .description
{
	margin-top: -4px;
}

.e-69e7f2fd > .holder > .section > .fields > .field > .description
{
	font-size: 11px;
	color: var(--ot-text-2);
}

.e-69e7f2fd > .holder > .actions
{
	display: grid;
	gap: 8px;
	padding-top: 12px;
	border-top: 1px solid var(--ot-bg-2-border);
}
