.e-d2c8e82 > .list
{
	display: flex;
	flex-direction: column;
	padding: var(--ot-spacing-x) 0;
}

/* Row */

.e-d2c8e82 .row
{
	display: flex;
	align-items: center;
	gap: var(--ot-spacing-s);
	padding: 5px var(--ot-spacing-m);
	cursor: pointer;
}

.e-d2c8e82 .row:hover
{
	background: var(--ot-bg-3);
}

.e-d2c8e82 .row.active
{
	background: rgba(59, 130, 246, 0.1);
}

.e-d2c8e82 .row > .icon
{
	font-size: 16px;
	color: var(--ot-text-2);
}

.e-d2c8e82 .row.active > .icon
{
	color: rgba(59, 130, 246, 0.8);
}

/* Info */

.e-d2c8e82 .row > .info
{
	display: flex;
	flex-direction: column;
	gap: 1px;
	overflow: hidden;
}

.e-d2c8e82 .row > .info > .name
{
	font-size: 12px;
	color: var(--ot-text-1);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.e-d2c8e82 .row.active > .info > .name
{
	color: rgba(59, 130, 246, 0.9);
	font-weight: 500;
}

.e-d2c8e82 .row > .info > .route
{
	font-size: 10px;
	color: var(--ot-text-2);
	opacity: 0.5;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* Action */

.e-d2c8e82 .row > .action
{
	font-size: 16px;
	color: var(--ot-text-2);
	margin-left: auto;
	opacity: 0;
	cursor: pointer;
	border-radius: var(--ot-radius-s);
	transition: opacity 0.15s ease, color 0.15s ease;
}

.e-d2c8e82 .row:hover > .action
{
	opacity: 1;
}

.e-d2c8e82 .row > .action:hover
{
	color: var(--ot-text-1);
}

/* Create */

.e-d2c8e82 > .list > .create
{
	display: flex;
	align-items: center;
	gap: var(--ot-spacing-s);
	padding: 10px var(--ot-spacing-m);
	cursor: pointer;
	border-top: 1px solid var(--ot-bg-2-border);
	border-bottom: 1px solid var(--ot-bg-2-border);
}

.e-d2c8e82 > .list > .create:hover
{
	background: var(--ot-bg-3);
}

.e-d2c8e82 > .list > .create > i
{
	font-size: 16px;
	color: var(--ot-text-2);
}

.e-d2c8e82 > .list > .create > span
{
	font-size: 12px;
	font-weight: 500;
	color: var(--ot-text-2);
}